body {
    font-family: monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1585030635220-b9fe210a80d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80");
    background-size: auto;
}


.container {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #a57258;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type='text'] {
    flex: 1;
    padding: 5px;
    border-radius:10px ;
}

button {
    background-color: #80668e;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px;
    height: 20px;
    width: 20;
    font-size: xx-small;
}

button:hover {
    background-color: #ff7b00;
}
